*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Bold.woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Bold.woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Regular.woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Regular.woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Medium.woff");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Medium.woff2");
    font-style: normal;
    font-weight: 500;
}

body {
    font-family: 'Gilroy', sans-serif;
    color: #FFFFFF;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    mix-blend-mode: normal;
}

.header {
    background-image: url('../image/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.header__img-1,
.header__img-2 {
    position: absolute;
}

.header__img-1 {
    top: 50%;
}

.header__img-2 {
    top: 60%;
    left: 73%;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: 36px;
}

.header__top-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    mix-blend-mode: normal;
    max-width: 837px;
    text-align: center;
    margin-left: 6px;
}

.header__title {
    position: relative;
    padding-bottom: 23px;
    margin-bottom: 50px;
}

.header__title::before {
    content: "";
    position: absolute;
    width: 83px;
    height: 2px;
    background-color: #FAD264;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.header__title > span {
    color: #FCE558;
}

.header__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    max-width: 730px;
    margin: 0 auto 41px;
}

.header__subtitle > span {
    text-transform: uppercase;
    font-weight: 700;
}

.header__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.header__item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 280px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    position: relative;
}

.header__item::before {
    content: "";
    position: absolute;
    background-image: url('../image/header-item-img.svg');
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
}

.header__date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 49px;
}

.header__date-text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FCE559;
    margin-left: 23px;
}

.header__date-text > span {
    color: #FFFFFF;
}

.header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
}

.header__button {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 253px;
    height: 56px;
    margin: 0 15px;
    text-decoration: none;
}

.header__button-left {
    background: #FFFFFF;
}

.header__button-right {
    background: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
}

.header__button-right-mobile {
    display: none;
}

.header__buttons-text {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 41px;
}

.header__text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__text-text {
    max-width: 468px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-left: 14px;
}

.header__bottom-img {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    cursor: pointer;
}

@media (max-width: 768px) {
    .header__img-2 {
        display: none;
    }

    .header {
        height: 100%;
    }

    .header__top {
        display: block;
        margin-bottom: 47px;
    }

    .header__top-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 19px;
    }

    .header__top-logo > img {
        width: 52px;
        height: 52px;
    }

    .header__top-text {
        margin-left: 0;
    }

    .header__subtitle {
        margin-bottom: 72px;
    }

    .header__items {
        flex-wrap: wrap;
        margin-bottom: 6px;
    }

    .header__item {
        margin-bottom: 57px;
    }

    .header__bottom-img > img {
        display: none;
    }

    .header__date {
        margin-bottom: 59px;
    }

    .header__text {
        padding-bottom: 96px;
        font-size: 18px;
        line-height: 22px;
        margin-left: 17px;
    }

    .title {
        font-size: 36px;
        line-height: 44px;
    }

    .header__title {
        max-width: 390px;
        margin: 0 auto 27px;
        padding-bottom: 38px;
    }

    .header__button-right {
        display: none;
    }

    .header__button-right-mobile {
        display: flex;
    }

    .header__buttons {
        margin-bottom: 25px;
    }

    .header__buttons-text {
        margin-bottom: 36px;
    }
}

@media (max-width: 480px) {
    .header__img-1 {
        display: none;
    }

    .header__top {
        margin-bottom: 37px;
    }

    .header__top-logo {
        margin-bottom: 24px;
    }

    .header__top-text {
        font-size: 14px;
        line-height: 16px;
        max-width: 300px;
        margin: 0 auto;
    }

    .title {
        font-size: 30px;
        line-height: 36px;
    }

    .header__title {
        padding-bottom: 26px;
    }

    .header__subtitle {
        margin-bottom: 40px;
    }

    .header__item {
        width: 320px;
        height: 118px;
        margin-bottom: 50px;
    }

    .header__item:last-child {
        margin-bottom: 37px;
    }

    .header__date-text {
        max-width: 274px;
        font-size: 18px;
        line-height: 22px;
        margin-left: 13px;
    }

    .header__date {
        margin-bottom: 41px;
    }

    .header__buttons {
        display: block;
        margin-bottom: 0;
    }

    .header__button {
        margin: 0 auto;
        margin-bottom: 26px;
    }

    .header__button:last-child {
        margin-bottom: 8px;
    }

    .header__text {
        padding-bottom: 60px;
    }

    .header__text-text {
        font-size: 14px;
        line-height: 16px;
        max-width: 246px;
        margin-left: 14px;
    }

    .header__text-img > img {
        width: 42px;
        height: 54px;
    }

    .header__date-img > img {
        width: 32px;
        height: 35px;
    }
}

@media (max-width: 320px) {
    .title {
        font-size: 28px;
        line-height: 30px;
    }

    .header__date-text {
        font-size: 16px;
        line-height: 18px;
    }
}
