*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Bold.woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Bold.woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Regular.woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Regular.woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Medium.woff");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Medium.woff2");
    font-style: normal;
    font-weight: 500;
}

body {
    font-family: 'Gilroy', sans-serif;
    color: #FFFFFF;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    mix-blend-mode: normal;
}

.title-small {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
}

.header {
    background-image: url('../image/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /*height: 100vh;*/
}

.header__img-1,
.header__img-2 {
    position: absolute;
}

.header__img-1 {
    top: 50%;
}

.header__img-2 {
    top: 60%;
    left: 73%;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: 36px;
}

.header__top-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    mix-blend-mode: normal;
    max-width: 837px;
    text-align: center;
    margin-left: 6px;
}

.header__title {
    position: relative;
    padding-bottom: 23px;
    margin-bottom: 50px;
}

.header__title::before {
    content: "";
    position: absolute;
    width: 83px;
    height: 2px;
    background-color: #FAD264;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.header__title > span {
    color: #FCE558;
}

.header__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    max-width: 730px;
    margin: 0 auto 41px;
}

.header__subtitle > span {
    text-transform: uppercase;
    font-weight: 700;
}

.header__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.header__item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 280px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    position: relative;
}

.header__item::before {
    content: "";
    position: absolute;
    background-image: url('../image/header-item-img.svg');
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
}

.header__date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 49px;
}

.header__date-text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FCE559;
    margin-left: 23px;
}

.header__date-text > span {
    color: #FFFFFF;
}

.header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
}

.header__button {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 253px;
    height: 56px;
    margin: 0 15px;
    text-decoration: none;
}

.header__button-left {
    background: #FFFFFF;
}

.header__button-right {
    background: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
}

.header__button-right-mobile {
    display: none;
}

.header__buttons-text {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 41px;
}

.header__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 74px;
}

.header__text-text {
    max-width: 468px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-left: 14px;
}

.header__bottom-img {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    cursor: pointer;
}

.program__inner {
    padding: 90px 0;
}

.program__title {
    position: relative;
    padding-bottom: 23px;
    margin-bottom: 50px;
    color: #320B61;
}

.program__title::before {
    content: "";
    position: absolute;
    width: 83px;
    height: 2px;
    background-color: #E130E3;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.program__item {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
    margin-bottom: 45px;
}

.program__item-left {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
}

.program__item-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
}

.program__item-left-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #42196D;
    background-color: #FAD264;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89px;
    margin-bottom: 38px;
}

.program__item-right-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    background-color: #320B61;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89px;
    margin-bottom: 38px;
}

.program__item-text {
    margin-left: 40px;
}

.program__item-img {
    display: flex;
    justify-content: center;
}

.program__item-img > img {
    width: 100%;
}

.program__item-list {
    width: 92%;
    margin-bottom: 28px;
}

.program__item-list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #29242C;
    padding-left: 46px;
    margin-bottom: 16px;
    position: relative;
}

.program__item-list-item > span {
    font-weight: 600;
}

.program__item-list-item::before {
    content: "";
    position: absolute;
    background-image: url('../image/program-item-svg.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}

.program__item-subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #29242C;
    margin-bottom: 25px;
}

.program__item-list-bottom {
    margin-bottom: 25px;
}

.program__item-list-bottom-item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #29242C;
    padding-left: 19px;
    margin-bottom: 10px;
    position: relative;
}

.program__item-list-bottom-item::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #42196D;
    top: 5px;
    left: 0;
    border-radius: 50%;
}

.marathon {
    background-color: #42196D;
    padding: 90px 0;
}

.marathon__title {
    position: relative;
    padding-bottom: 23px;
    margin-bottom: 50px;
    color: #FAD264;
}

.marathon__title::before {
    content: "";
    position: absolute;
    width: 83px;
    height: 2px;
    background-color: #FFFFFF;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.marathon__items {
    display: flex;
    gap: 17px;
}

.marathon__item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.marathon__item-img > img {
    width: 100%;
}

.marathon__item-text {
    background-color: #FFFFFF;
    border-radius: 0 0 40px 40px;
    width: 100%;
    height: 246px;
    margin-bottom: 22px;
    position: relative;
}

.marathon__item-text::before {
    content: "";
    position: absolute;
    background-image: url('../image/marathon-arrow.svg');
    background-repeat: no-repeat;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 47px;
    height: 30px;
}

.marathon__item-text-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #292841;
    mix-blend-mode: normal;
    max-width: 349px;
    margin: 0 auto 17px;
    padding-top: 33px;
    height: 121px;
}

.marathon__item-text-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #292841;
    max-width: 346px;
    margin: 0 auto;
}

.marathon__item-list-title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    mix-blend-mode: normal;
    height: 63px;
    margin-bottom: 13px;
}

.marathon__item-list-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    mix-blend-mode: normal;
    padding-left: 45px;
    margin-bottom: 23px;
    position: relative;
}

.marathon__item-list-text::before {
    content: "";
    position: absolute;
    background-image: url('../image/marathon-check.svg');
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 31px;
    height: 30px;
}

.days {
    background-color: #F7F7F7;
    padding: 80px 0 200px;
}

.days__title {
    position: relative;
    padding-bottom: 23px;
    margin-bottom: 50px;
    color: #320B61;
}

.days__title::before {
    content: "";
    position: absolute;
    width: 83px;
    height: 2px;
    background-color: #FAD264;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.days__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 69px;
}

.days__items {
    display: flex;
    align-items: center;
}

.days__item-wrapper {
    position: relative;
}

.days__item {
    position: relative;
}

.days__item--1 {
    z-index: 10;
}

.days__item--2 {
    z-index: 9;
    transform: translateX(-18%);
}

.days__item--3 {
    z-index: 8;
    transform: translateX(-36%);
}

.days__item--4 {
    z-index: 7;
    transform: translateX(-54%);
}

.days__item--5 {
    z-index: 6;
    transform: translateX(-72%);
}

.days__item-img {
    width: calc(min(26vh, 22vw));
}

.days__item-number {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #FAD264;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    width: 69px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days__item-number--2 {
    left: 50%;
}

.days__item-number--3 {
    left: 50%;
}

.days__item-number--4 {
    left: 50%;
}

.days__item-number--5 {
    left: 65%;
}

.days__item-number-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.days__item-number-img--1 {
    left: 35%;
}

.days__item-number-img--5 {
    left: 65%;
}

.days__item-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #060606;
    mix-blend-mode: normal;
    position: absolute;
}

.days__item-text > span {
    font-weight: 700;
}

.days__item-text--1 {
    max-width: 150px;
}

.days__item-text--2 {
    max-width: 250px;
    margin-left: -55px;
}

.days__item-text--3 {
    max-width: 155px;
    margin-left: -55px;
}

.days__item-text--4 {
    max-width: 225px;
    margin-left: -85px;
}

.days__item-text--5 {
    max-width: 160px;
    margin-left: -85px;
}

@media (max-width: 1200px) {
    .days {
        padding-bottom: 80px;
    }

    .days__items {
        display: block;
    }

    .days__item-number-img {
        left: 50%;
    }

    .days__item-number {
        left: 50%;
    }

    .days__item--2,
    .days__item--3,
    .days__item--4,
    .days__item--5 {
        transform: translateX(0);
    }

    .days__item-wrapper {
        display: flex;
        align-items: center;
    }

    .days__item-text {
        position: static;
        max-width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 1100px) {
    .marathon__items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .marathon__item {
        width: 45%;
    }

    .header__img-2 {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        height: 100%;
    }

    .header__top {
        display: block;
        margin-bottom: 47px;
    }

    .header__top-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 19px;
    }

    .header__top-logo > img {
        width: 52px;
        height: 52px;
    }

    .header__top-text {
        margin-left: 0;
    }

    .header__subtitle {
        margin-bottom: 72px;
    }

    .header__items {
        flex-wrap: wrap;
        margin-bottom: 6px;
    }

    .header__item {
        margin-bottom: 57px;
    }

    .header__bottom-img > img {
        display: none;
    }

    .header__date {
        margin-bottom: 59px;
    }

    .header__text {
        padding-bottom: 96px;
        font-size: 18px;
        line-height: 22px;
        margin-left: 17px;
    }

    .title,
    .title-small {
        font-size: 36px;
        line-height: 44px;
    }

    .header__title,
    .program__title,
    .marathon__title {
        max-width: 390px;
        margin: 0 auto 27px;
        padding-bottom: 38px;
    }

    .header__button-right {
        display: none;
    }

    .header__button-right-mobile {
        display: flex;
    }

    .header__buttons {
        margin-bottom: 25px;
    }

    .header__buttons-text {
        margin-bottom: 36px;
    }

    .program__inner {
        padding: 40px 0;
    }

    .program__item {
        display: block;
    }

    .marathon__item {
        width: 90%;
    }

    .days__subtitle {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 40px;
    }

    .days__item-number-img {
        width: 5%;
    }

    .days__item-number {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    .header__img-1 {
        display: none;
    }

    .header__top {
        margin-bottom: 37px;
    }

    .header__top-logo {
        margin-bottom: 24px;
    }

    .header__top-text {
        font-size: 14px;
        line-height: 16px;
        max-width: 300px;
        margin: 0 auto;
    }

    .title,
    .title-small {
        font-size: 30px;
        line-height: 36px;
    }

    .header__title,
    .program__title,
    .marathon__title {
        padding-bottom: 26px;
    }

    .header__subtitle {
        margin-bottom: 40px;
    }

    .header__item {
        width: 320px;
        height: 118px;
        margin-bottom: 50px;
    }

    .header__item:last-child {
        margin-bottom: 37px;
    }

    .header__date-text {
        max-width: 274px;
        font-size: 18px;
        line-height: 22px;
        margin-left: 13px;
    }

    .header__date {
        margin-bottom: 41px;
    }

    .header__buttons {
        display: block;
        margin-bottom: 0;
    }

    .header__button {
        margin: 0 auto;
        margin-bottom: 26px;
    }

    .header__button:last-child {
        margin-bottom: 8px;
    }

    .header__text {
        padding-bottom: 60px;
    }

    .header__text-text {
        font-size: 14px;
        line-height: 16px;
        max-width: 246px;
        margin-left: 14px;
    }

    .header__text-img > img {
        width: 42px;
        height: 54px;
    }

    .header__date-img > img {
        width: 32px;
        height: 35px;
    }

    .program__item-text {
        margin-left: 10px;
    }

    .marathon {
        padding: 40px 0;
    }

    .marathon__item {
        width: 100%;
    }

    .marathon__item-text-title {
        overflow-y: hidden;
        font-size: 16px;
        line-height: 18px;
    }

    .marathon__item-text-subtitle {
        font-size: 16px;
        line-height: 18px;
    }

    .marathon__item-list-title {
        font-size: 16px;
        line-height: 18px;
    }

    .marathon__item-list-text {
        font-size: 16px;
        line-height: 18px;
    }

    .days {
        padding: 40px 0;
    }

    .days__title {
        margin-bottom: 28px;
    }

    .days__subtitle {
        font-size: 18px;
        line-height: 20px;
    }

    .days__item-wrapper {
        margin-bottom: 10px;
    }

    .days__item-number-img {
        display: none;
    }

    .days__item-number {
        width: 0;
        height: 0;
    }

    .days__item-number {
        font-size: 20px;
        line-height: 24px;
    }

    .days__item-wrapper {
        font-size: 16px;
        line-height: 18px;
    }
}

@media (max-width: 320px) {
    .title,
    .title-small {
        font-size: 28px;
        line-height: 30px;
    }

    .header__date-text {
        font-size: 16px;
        line-height: 18px;
    }

    .program__title {
        margin-bottom: 28px;
    }

    .program__item-left-title,
    .program__item-right-title {
        font-size: 18px;
        line-height: 22px;
    }

    .program__item-list-item,
    .program__item-list-bottom-item {
        font-size: 16px;
        line-height: 18px;
    }

    .program__item-list {
        width: 100%;
    }
}
